{% extends "layout_new.html" %}
{% block content %}
<script src='static/Chart.min.js'></script>
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Camp Profile</h2>
            <ol>
                <li><a href=""></a></li>
                <li>Camp Details</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->
<section id="portfolio-details" class="portfolio-details">



    <div class="container">

        <div class="portfolio-details-container" data-aos="fade-up">

            <div class="owl-carousel portfolio-details-carousel">

                <img src="{{ url_for('static', filename='/assets/index/img/portfolio/portfolio-details-1.jpg') }}"
                    class="img-fluid" alt="">
                <img src="{{ url_for('static', filename='/assets/index/img/portfolio/portfolio-details-2.jpg') }}"
                    class="img-fluid" alt="">
                <img src="{{ url_for('static', filename='/assets/index/img/portfolio/portfolio-details-3.jpg') }}"
                    class="img-fluid" alt="">

            </div>

            <div class="portfolio-info">

                <h3>Disaster Information</h3>
                <ul>
                    <li><strong>Name</strong>: </li>
                    <li><strong>City</strong>: </li>
                    <li><strong>Total beds</strong>: </li>
                    <li><strong>Occupied beds</strong>:</li>

                    <li>
                        <p>
                            <button class="btn btn-primary" id="getform" onclick="openForm()">
                                Send a Request
                            </button>
                        </p>
                    </li>
                    <li>Last Seen: {</li>
                </ul>
            </div>
            <div class="portfolio-description">
                <h2>Location details</h2>
                <p>
                    Location
                </p>
            </div>
        </div>
        <canvas id="myChart" width="600" height="400"></canvas>
        <iframe src="mymap.html" style="border:none;"></iframe>
    </div>


    </div>
    </div>
</section>

<script>
    // Global parameters:
    // do not resize the chart canvas when its container does (keep at 600x400px)
    Chart.defaults.global.responsive = false
    Chart.defaults.global.animation.duration = 5000

    // define the chart data
    var chartData = {
        labels: [{% for item in labels %}
    "{{item}}",
        {% endfor %}],
    datasets: [{
        label: '{{ legend }}',
        fill: true,
        lineTension: 0.1,
        backgroundColor: "rgba(75,192,192,0.4)",
        borderColor: "rgba(75,192,192,1)",
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data: [{% for item in values %}
                      {{ item }},
    {% endfor %}],
        spanGaps: false
        }]
      }

    // get chart canvas
    var ctx = document.getElementById("myChart").getContext("2d");

    // create the chart using the chart canvas
    var myChart = new Chart(ctx, {
        type: 'line',
        data: chartData,

    });
</script>


{% endblock %}