<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homecss.css') }}">

<!------ Include the above in your HEAD tag ---------->

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Emergency Assistant</h3>

          <ul class="nav masthead-nav">
            <li class="active">
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
            </li>

            <li>
              <a class="nav-item nav-link" href="tel:+941990">Call 1990</a>

            </li>
            {% if current_user.is_authenticated %}
            <li>
              <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
            </li>
            <li>
              <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
            </li>
            <li>
              <a class="nav-item nav-link" href="{{ url_for('users.messages') }}">
                {{'Messages'}}
                {% set new_messages = current_user.new_messages() %}
                <span id="message_count" class="badge" style="visibility: {% if new_messages %}visible
                                         {% else %}hidden {% endif %};">
                  {{ new_messages }}
                </span>
              </a> </li>
            {% else %}
            <li>
              <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>

            </li>
            <li>
              <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>

            </li>
            {% endif %}

          </ul>
        </div>
      </div>
      <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
      <br>
      <div class="inner cover">
        <h1 class="cover-heading">Emergency Assistant - Disaster Management System</h1>

        <p class="lead">Welcome to disaster manegemnt system.
          <<<<<<< HEAD <!--small> <br> <a href="http://bootsnipp.com/iframe/g6GWQ" target="_blank">Best viewed on full
              screen</a></small-->

            =======

            <!--small>    <br> <a href="http://bootsnipp.com/iframe/g6GWQ" target=
              "_blank">Best viewed on full screen</a></small-->

            >>>>>>> c637c275386d1a45104676601bfb14f10ecd9688
        </p>

        <p class="lead"><a class="btn btn-lg btn-info" href="{{ url_for('main.home') }}">Get started</a></p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <!-- Validation -->

          <p><a href=""><small>EA</small><sup>5</sup></a></p>
          <<<<<<< HEAD <p><a href=""><small></small></a></p>


            =======


            <p><a href=""><small></small></a></p>


            >>>>>>> c637c275386d1a45104676601bfb14f10ecd9688

            <p>© 2020 Disaster Management Team ~ <a href="">DMA</a></p>
        </div>
      </div>
    </div>
    <<<<<<< HEAD </div>
      =======
  </div>
  >>>>>>> c637c275386d1a45104676601bfb14f10ecd9688
</div>