<head>
    <style type="text/css" data-hse-inline-css="true">
        img {
            height: 20%;
            width: 32%;
        }

        h3 {
            color: darkslateblue
        }
    </style>
</head>

<body <p>Hello {{fname}}</p>

    <h3>Confirm Email</h3>
    Please click this Button to proceed your email confirming steps:
    <br>
    <a href={{link}}>
        <img src="https://www.pngkit.com/png/full/207-2072232_links-welcome-to-florida-click-here-button-png.png">
    </a>
    <br>
    If you did not
    make this request, then
    you can simply ignore this email.</p>

    <p>Best,</p>
    <p>EMAS</p>
    <p>DMS</p>
</body>