{% extends "layout.html" %}

{% block content %}
    <h1>User: {{ user.username }}</h1>
    <hr>
    {% for post in posts %}
    <p>
    {{ post.author.username }} says: <b>{{ post.body }}</b>
    </p>
    {% endfor %}
    {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
    <div class="form-group">
        {% if user != current_user %}
        <p>
            <a href="{{ url_for('users.send_message',
                                recipient=user.username) }}">
                {{'Send private message' }}
            </a>
        </p>
        {% endif %}

    </div>
{% endblock %}