<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png"
        href="{{url_for('static', filename = '/assets/login/images/icons/favicon.ico')}}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static', filename = '/assets/login/vendor/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static', filename = '/assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static', filename = '/assets/login/vendor/animate/animate.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static', filename = '/assets/login/vendor/css-hamburgers/hamburgers.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{{url_for('static', filename = '/assets/login/vendor/select2/select2.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = '/assets/login/css/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = '/assets/login/css/main.css')}}">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-reg100">
                <div class="login100-pic-reg js-tilt" data-tilt>
                    <img src="static/assets/login/images/img-01 - reg.png" alt="IMG">
                </div>

                <form class="login100-form validate-form" method="POST">
                    {{ form.hidden_tag() }}
                    <span class="login100-form-title">
                        User Registration
                    </span>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <div class="wrap-input100">
                        {% if form.title.errors %}
                        <div class="txt2">
                            {% for error in form.title.errors %}
                            <span id="error_email">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {{ form.title(class="input100-error",placeholder = "Title") }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </span>

                        {% else %}
                        {{ form.title(class="input100",placeholder = "Title") }}
                        {% endif %}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100">
                        {% if form.fname.errors %}
                        <div class="txt2">
                            {% for error in form.fname.errors %}
                            <span id="error_email">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {{ form.fname(class="input100-error",placeholder = "First Name") }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>

                        {% else %}
                        {{ form.fname(class="input100",placeholder = "First Name") }}
                        {% endif %}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100">
                        {% if form.lname.errors %}
                        <div class="txt2">
                            {% for error in form.lname.errors %}
                            <span id="error_email">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {{ form.lname(class="input100-error",placeholder = "Last Name") }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-male" aria-hidden="true"></i>
                        </span>

                        {% else %}
                        {{ form.lname(class="input100",placeholder = "Last Name") }}
                        {% endif %}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-male" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100">
                        {% if form.email.errors %}
                        <div class="txt2">
                            {% for error in form.email.errors %}
                            <span id="error_email">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {{ form.email(class="input100-error",placeholder = "Email") }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>

                        {% else %}
                        {{ form.email(class="input100",placeholder = "Email") }}
                        {% endif %}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100">
                        {% if form.mobile_number.errors %}
                        <div class="txt2">
                            {% for error in form.mobile_number.errors %}
                            <span id="error_email">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {{ form.mobile_number(class="input100-error",placeholder = "Mobile Number") }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>

                        {% else %}
                        {{ form.mobile_number(class="input100",placeholder = "Mobile Number") }}
                        {% endif %}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100" data-toggle="tooltip" title="Leave this if you are
                            not regitering for Military or
                            Camp">
                        {% if form.user_type.errors %}
                        <div class="txt2">
                            {% for error in form.user_type.errors %}
                            <span id="error_email">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {{ form.user_type(class="input100-error",placeholder = "user_type") }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </span>

                        {% else %}
                        {{ form.user_type(class="input100",placeholder = "user_type") }}
                        {% endif %}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100">
                        {% if form.password.errors %}
                        <div class="txt2">
                            {% for error in form.password.errors %}
                            <span id="error_email">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {{ form.password(class="input100-error",placeholder = "Password") }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>

                        {% else %}
                        {{ form.password(class="input100",placeholder = "Password") }}
                        {% endif %}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100">

                        {% if form.confirm_password.errors %}
                        <div class="txt2">
                            {% for error in form.confirm_password.errors %}
                            <span id="error_email">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {{ form.confirm_password(class="input100-error",placeholder = "Confirm Password") }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-ticket" aria-hidden="true"></i>
                        </span>

                        {% else %}
                        {{ form.confirm_password(class="input100",placeholder = "Confirm Password") }}
                        {% endif %}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-ticket" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        {{ form.submit(class="login100-form-btn") }}
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">
                            Already a
                        </span>
                        <a class="txt2" href="{{ url_for('users.login') }}">
                            Member?
                        </a>
                    </div>


                </form>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="{{url_for('static', filename = '/assets/login/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename = '/assets/login/vendor/bootstrap/js/popper.js')}}"></script>
    <script src="{{url_for('static', filename = '/assets/login/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename = '/assets/login/vendor/select2/select2.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename = '/assets/login/vendor/tilt/tilt.jquery.min.js')}}"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <!--===============================================================================================-->
    <script src="{url_for('static', filename = '/assets/login/js/main.js{')}}"></script>
</body>

</html>