{% extends "layout.html" %}
    {% block content %}
    <div class="content-section">
        <div class="media">
          <div class="media-body">
            {% if current_user.roles[0].name == 'user'  %}
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">User type : {{ current_user.roles[0].name }}</p>
            {% else %}
                <p class="text-secondary">{{ current_user.email }}</p>
            {% endif %}
          </div>
        </div>
        <!-- FORM HERE -->
        
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{{'Send Message to ' + recipient}}</legend>
                    <div class="form-group">
                        {{ form.message.label(class="form-control-label") }}
    
                        {% if form.message.errors %}
                            {{ form.message(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.message.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.message(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        
      </div>
    {% endblock content %}

