<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    {% if title %}
    <title>Emergency Assistant - {{ title }}</title>
    {% else %}
    <title>Emergency Assistant</title>
    {% endif %}
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/assets/index/img/favicon.png" rel="icon">
    <link href="static/assets/index/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/index/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="static/assets/index/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/assets/index/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="static/assets/index/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/assets/index/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="static/assets/index/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="static/assets/index/vendor/owl.carousel/static/assets/index/owl.carousel.min.css" rel="stylesheet">
    <link href="static/assets/index/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/index/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Selecao - v2.1.0
  * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='alert.css') }}">



</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="index.html">Emergency Assistant</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="static/assets/index/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li><a class="active" href="tel:+941990">Call සුවසැරිය</a></li>
                </ul>

            </nav>


            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Disaster Details</a></li>
                    <!--li><a href="#pricing">Pricing</a></li>
          <li><a href="#team">Team</a></li-->
                    <li class="drop-down"><a href="">Profile</a>
                        <ul>
                            {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('users.account') }}">Account</a></li>
                            {% endif %}
                            <li class="drop-down"><a href="#">User</a>
                                <ul>
                                    <li><a href="{{ url_for('users.register') }}">Register</a></li>
                                    <li><a href="{{ url_for('users.login') }}">Login</a></li>
                                    {% if current_user.is_authenticated %}
                                    <li><a href="{{ url_for('users.logout') }}">Logout</a></li>
                                    {% endif %}
                                    <!--li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Messages</a></li-->
                                </ul>
                            </li>
                            {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('users.messages') }}">Messages</a></li>


                            {% set new_messages = current_user.new_messages() %}
                            <span id="message_count" class="badge" style="visibility: {% if new_messages %}visible
                                                                         {% else %}hidden {% endif %};">
                                {{ new_messages }}

                                {% endif %}
                                <!--li><a href="#">Outbox</a></li>
              <li><a href="#">Drop Down 5</a></li-->
                        </ul>
                    </li>
                    <li><a href="#contact">Contact</a></li>

                </ul>
            </nav><!-- .nav-menu -->
        </div>
        </div>
    </header><!-- End Header -->

    <main role="main" class="container" id="overlay">
        <div class="row">
            <div class="col-md-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-dismissible fade show alert-{{ category }}">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

            </div>
        </div>
    </main>

    {% block content %}

    {% endblock %}
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Emergency Assistant</h3>
            <p>Disaster Management System</p>
            <!--div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a-->
        </div>
        <div class="copyright">
            &copy; Copyright <strong><span>Emergency Assistant</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/selecao-bootstrap-template/ >
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div-->
            </div-->
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/assets/index/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/index/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/index/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="static/assets/index/vendor/php-email-form/validate.js"></script>
    <script src="static/assets/index/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/assets/index/vendor/venobox/venobox.min.js"></script>
    <script src="static/assets/index/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="static/assets/index/vendor/aos/aos.js"></script>
    <script src="jquery.twbs-alert-overlay.min.js"></script>


    <!-- Template Main JS File -->
    <script src="static/assets/index/js/main.js"></script>
    {% block scripts %}
    <script>
        // ...
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }
    </script>

    <script>
        // ...
        {% if current_user.is_authenticated %}
        $(function () {
            var since = 0;
            setInterval(function () {
                $.ajax('{{ url_for('users.notifications') }}?since=' + since).done(
                    function (notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            if (notifications[i].name == 'unread_message_count')
                                set_message_count(notifications[i].data);
                            since = notifications[i].timestamp;
                        }
                    }
                );
            }, 10000);
        });
        {% endif %}





        $.twbsAlertOverlay({
            messages:
                [
                    { type: 'success', content: 'Success Message' },
                    { type: 'warning', content: '<p>HTML Content</p>' },
                    { type: 'info', content: 'Information Message' },
                    { type: 'danger', content: 'Danger Message' }
                ],
            overlay: "#alert-overlay",
            overlayAuto: true, // show/hide overlay
        })

    </script>
    {% endblock %}
</body>

</html>